<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
      <meta name="description" content="Somewhat updated list of C++, Qt and KDE bits" />
    

      <title>Tomaz Canabrava Ramblings</title>

      
        <link rel="alternate" type="application/atom+xml" title="RSS" href="https://tcanabrava.github.io/atom.xml">
      

      
          <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
          
      

      
          <link rel="stylesheet" href="https://tcanabrava.github.io/site.css">
          
      

      
      
    </head>

    <body>
        <div class="container">

            <div id="mobile-navbar" class="mobile-navbar">
              <div class="mobile-header-logo">
                <a href="/" class="logo">Tomaz Canabrava Ramblings</a>
              </div>
              <div class="mobile-navbar-icon icon-out">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <nav id="mobile-menu" class="mobile-menu slideout-menu slideout-menu-left">
              <ul class="mobile-menu-list">
                
                    <li class="mobile-menu-item">
                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io">
                            Home
                        </a>
                    </li>
                
                    <li class="mobile-menu-item">
                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;categories">
                            Categories
                        </a>
                    </li>
                
                    <li class="mobile-menu-item">
                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;tags">
                            Tags
                        </a>
                    </li>
                
                    <li class="mobile-menu-item">
                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;about">
                            About
                        </a>
                    </li>
                
              </ul>
            </nav>

            <header id="header">
                <div class="logo"><a href="https:&#x2F;&#x2F;tcanabrava.github.io">Tomaz Canabrava Ramblings</a></div>
                <nav class="menu">
                    <ul>
                        
                            <li>
                                <a href="https:&#x2F;&#x2F;tcanabrava.github.io">
                                    Home
                                </a>
                            </li>
                        
                            <li>
                                <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;categories">
                                    Categories
                                </a>
                            </li>
                        
                            <li>
                                <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;tags">
                                    Tags
                                </a>
                            </li>
                        
                            <li>
                                <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;about">
                                    About
                                </a>
                            </li>
                        
                    </ul>
                </nav>
            </header>

            <main>
                <div class="content" id="mobile-panel">
                    
                        <div class="posts">
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;porting-codevis-to-kde&#x2F;">Porting Codevis to KDE</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2023-10-12</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        
                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;porting-codevis-to-kde&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;codevis-weekly-update&#x2F;">Codevis Weekly Update</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2023-10-06</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>Welcome to the first &quot;Codevis Weekly Update&quot;</p>
<h1 id="what-is-codevis">What is Codevis?</h1>
<p><a href="https://invent.kde.org/sdk/codevis">Codevis</a> is a tool to help developers manage large codebases, sponsored by Bloomberg, developed by Codethink and hosted on the KDE Infrastructure, with all that, completely opensource with a permissive license. Codevis uses a mix of technologies to do what it does, mainly <code>LLVM and Clang</code> to do the heavy lifting of understanding C++ Codebases, <code>Qt</code> for Callback management (in the form of Signal/Slots), <code>KDE Frameworks</code> libraries for the desktop application, and <code>pure Qt</code> for the CLI application. The database layer is written with <code>Soci</code> , the same database layer used in CERN, targeting sqlite3.</p>
<h1 id="but-how-does-it-work">But How does it work?</h1>
<p>Codevis analyzes <em>all</em> the <em>visible</em> source code from your project and creates a graph database (using a relational database) in a way that the analyst can load and interpret information from the codebase without loading the codebase. The graph-database is <code>comprehensive</code>, and has all the information we think it's important, and also a lot of information that's <code>good to have</code>, with a bunch of information because <code>why not</code>. Since something that's not important for me could be <em>really</em> important for a company with billions of lines of code.</p>
<h1 id="it-just-generates-visualization">It just generates visualization?</h1>
<p>No. Codevis also allows you to <em>draw</em> your software architecture and generate ready-to-compile c++ code from it. Think of this as a possibility to have C++ templates for complex projects tha are also visually documented. You can create libraries, classes, structures, connect them quickly on a dirty mockup during a meeting, and the output could be <code>60 c++ files on disk</code> with all the classes, folder-hierarchy and <code>CMake</code> ready to compile.</p>
<p>This will <em>not</em> add any method or implement anything, but just the creation of the C++ files and CMake scripts from a small architecture meeting is pretty interesting in my point of view.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;codevis-weekly-update&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;is-this-still-on&#x2F;">Is this still on?</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2023-10-04</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>It's been a Long long time without posting anything. Not that i'm lazy (well, a bit).
But I have been working on a lot of things related to KDE this past few years, and I was finally able to release and opensource Codevis.
I know this post is as small as a tweet, just checking if the integration is stil working</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;is-this-still-on&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-in-2021&#x2F;">Konsole in 2021</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2021-12-27</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>This year konsole kept the momentum it gained in 2020, and implemented quite
a lot of userful new features. We Finally implemented Reflow, thanks to the
combined effort of me and Carlos Alves - that was one of the most requested
features of konsole for the entire history of the project.</p>
<p>Ahmad Samir fixed <em>tons</em> of issues in konsole, all around the codebase, he's
the person with most commits on konsole this year, praise to him.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-in-2021&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;about&#x2F;"></a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2021-10-05</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        
                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;about&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;kconfig-alternate&#x2F;">KConfigXT Alternative Generator</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2021-09-20</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>I'm using for my own personal projects a generator for c++ preferences for quite a while, I'll not say that it's heavily tested as KConfigXT is, but it is also <em>much</em> more simple than it.</p>
<p>While talking about it to a fellow developer he asked me how hard it would be to port the thing to KConfig (as the main backend I used was QSettings) - and the result is quite nice, the port toook
less than a day, and now my generator generates configurations for both KConfig and QSettings.</p>
<ul>
<li>Example configuration:</li>
</ul>
<pre style="background-color:#2b303b;color:#c0c5ce;"><code><span>preferences.conf
</span><span>
</span><span>#include &lt;QString&gt;
</span><span>#include &lt;QStandardPaths&gt;
</span><span>
</span><span>Preferences {
</span><span>    General {
</span><span>        int beatsPerMinute = 60
</span><span>    }
</span><span>    Some {
</span><span>        Inner {
</span><span>            Group {
</span><span>                int value = 10
</span><span>            }
</span><span>        }
</span><span>    }
</span><span>    Harmonica {
</span><span>        QString partitureFolder = QStandardPaths::writableLocation(QStandardPaths::DocumentsLocation)
</span><span>    }
</span><span>}
</span><span>
</span></code></pre>
<p>For those that worked with KConfigXT, it's easy to see how much this is different from the xml that the tool uses. And differently from KConfigXT, the code is smaller, easier to read, and does not rely on magic enums, nor it has a lot of different possibilities to fine tune the settings - if you want to choose between runtime or compile time file, shared vs non shared config, etc.: KConfigXT is for you, mine is supposed to be simple and up to the point.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;kconfig-alternate&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-in-2020&#x2F;">Konsole in 2020</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2020-06-16</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>Konsole is having a resurge in the moment, it's the terminal emulator of choice
for the power user that wants to break the 4th wall in *nix systems. Right now
it can do almost all the things I want it to do, and a few more.</p>
<p>Since last year you can use splits in Konsole, with full drag &amp; drop support
between tabs and windows.</p>
<p>{% include youtube.html id=&quot;f9Y1pul8smQ&quot; %}</p>
<p>You can also use Konsole to quickly check for thumbnails of anything that dolphin
can show you, just by hovering with the mouse (and depending of your configuration)
pressing shift/control/alt. To my knowledge Konsole is the only terminal emulator
that supports this.</p>
<p>{% include youtube.html id=&quot;8lic9xKG4lo&quot; %}</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-in-2020&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-splits&#x2F;">Konsole and Splits</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2019-06-27</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>Some terminals like Tilix and Terminator offers the possibility to split the screen recursively, and I started to add the same thing to konsole. Konsole is usually said to be the swiss army knife of the terminal emulators, and if you didn't try it yet, please do. We offer quite a lot of things that no other terminal emulator offer.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-splits&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-wayland&#x2F;">Konsole and Wayland</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2019-06-18</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>Wayland needs a different mindset when you are programming, you cannot just assume things works the same way as in as X11. One of my first patches to konsole was the rewrite of the Tab Bar, and a different way to deal with Drag &amp; Drop of the tabs. In my mind - and how wrong I was - I could assume that I was dragging to a konsole main window by querying the widget below the mouse.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;konsole-wayland&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                                <article class="post">
                                    
    <header class="post__header">
        <h1 class="post__title">
            <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;the-state-of-terminals-in-linux&#x2F;">The state of Terminal Emulators in Linux</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">2019-06-15</span>
            
        </div>
    </header>

                                    <div class="post__summary">
                                        <p>We are seeing a strange trend nowadays: The terminal is being more widely used in windows, after they fixed the broken cmd.exe and MS is actually actively promoting their terminal applications like Visual Studio Code and the new Windows Terminal, but on the other hand the Unix world was always terminal based, even if you tend to use the Desktop Environment for your daily needs you probably also had a Terminal open somewhere.</p>

                                    </div>
                                    <div class="read-more">
                                        <a href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;the-state-of-terminals-in-linux&#x2F;">Read more...</a>
                                    </div>
                                </article>
                            
                        </div>
                        <nav class="pagination">
                            
                            
                                <a class="next" href="https:&#x2F;&#x2F;tcanabrava.github.io&#x2F;page&#x2F;2&#x2F;">Next ›</a>
                            
                        </nav>
                    
                </div>
            </main>

            
            
        </div>

      
          <script type="text/javascript" src="https://tcanabrava.github.io/even.js" ></script>
      
    </body>

</html>
